.THIS {
}

.THIS.slds-m-left_xx-large{
    
    margin-left:150px;
}
.THIS.slds-m-top_large{
    
    margin-left:143px;
    margin-right:650px;
}
.THIS.slds-align_absolute-center{
    margin-right:650px;
}